services:
  typesense:
    image: typesense/typesense:27.0
    restart: on-failure
    ports:
      - '8108:8108'
    volumes:
      - ../volumes/typesense:/data
    command: '--data-dir /data --api-key=xyz --enable-cors'
  
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - ../volumes/minio:/data
  typesense-dashboard:
    image: ghcr.io/bfritscher/typesense-dashboard:latest
    ports: ['8109:80']

  db:
    image: postgres
    volumes:
      - ../volumes/postgres:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydb
    ports:
      - '5432:5432'
